.pt-10 {
  padding-top: 10px
}

.pt-20 {
  padding-top: 20px
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}


.text-end {
  text-align: end
}

.text-start {
  text-align: start;
}

.third-step-card {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.active-card {
  border: 1px solid #1890ff;
}

.active-icon {
  color: #1890ff;
}

.cursor-default{
  cursor: default;
}